.main {
  width: 100%;
  height: 0;
  background-image: url("../img/main_foto.png");
  background-size: 100% auto;
  padding-bottom: 60%;
  background-repeat: no-repeat;
}
*{
  box-sizing: border-box;
}
.grid_container {
  width: 90%;
  max-width: 1160px;
  box-sizing: border-box;
  //border: 1px solid black;
  margin: 0 auto;
}

$new_width: 8.3333%;

@for $i from 1 through 12 {
  .col-#{$i} {
    width: $new_width * $i;
  }
}

.row:before,
.row:after {
  display : table;
  clear: both;
  content: '';
}

[class*='col-']{
  float: left;
  //border:1px solid red;
  min-height: 1px;

}
//teksty z headera
.centerText{
  text-align: center;
    .logo {
      margin-top:3%;
      display: inline-block;
    }
      .main_text{
        h1 {
          color: white;
          font-size: 48px;
          text-align: center;
        }
        p {
          color: white;
          font-size: 24px;
          text-align: center;
        }
      }
}


//ikony z headera

.icons {
  width: 75%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-bottom: 59%;
  height: 0;
  padding-top: 28%;
  text-align: center;
  img {
    width:36%;
  }
}

.icons_1 {
  background-image: url("../img/icons/icon_shape.png");
  margin: 137% auto 0;
 }

.icons_2 {
  background-image: url("../img/icons/icon_shape.png");
  margin: 137% auto 0;
}
.icons_3 {
  width: 75%;
  background-size: 100% auto;
  background-image: url("../img/icons/icon_shape.png");
  margin: 137% auto 0;
}

.icons_4 {
  width: 75%;
  background-image: url("../img/icons/icon_shape.png");
  margin: 137% auto 0;
}

.icons_5 {
  width: 75%;
  background-image: url("../img/icons/icon_shape.png");
  margin: 69% auto;
}

.icons_6 {
  width: 75%;
  background-image: url("../img/icons/icon_shape2.png");
  margin: 69% auto;
}



//sticky menu
.menu {
  background-color: white;
  width: 100%;
  height: 100px;
  //border: 1px solid black;
  .nav_left {
    margin-left: 3%;
    margin-top: 3%;
  }
  ul {
    float: right;
    margin-top: -3%;
    li {
      display: inline-block;
      text-transform: uppercase;
      margin: 0 auto;
      a {
        float: right;
        color: #959595;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
}

.sticky {
  position: fixed;
  top:0;
}



.grey {
  width: 100%;
  background-color: #eeeeee;
    .grey_text {
      text-align: center;
      margin-bottom: 45%;
    }
}

//ikony z szarej strefy
.icons2 {
  width: 75%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-bottom: 59%;
  height: 0;
  padding-top: 30%;
  text-align: center;
  margin: 0 auto;
  margin-top: 45%;
    img {
      width:36%;
    }
}

.icons_1a {
  background-image: url("../img/icons2/shape2.png");
}
.icons_2a {
  background-image: url("../img/icons2/shape1.png");
}
.icons_3a {
  background-image: url("../img/icons2/shape1.png");
}
.icons_4a {
  background-image: url("../img/icons2/shape1.png");
}


.tele {
  width: 100%;
  margin-bottom: 10%;
    .aboutUs {
      width: 20%;
      padding-bottom: 13%;
      height: 0;
      padding-top: 7%;
      text-align: center;
      margin: 0 auto;
      img {
        width:120%;
      }
    }
    .teleText {
      margin: 0 auto;
      margin-left: 10%;
    }
    .teleFoto {
      background-size: 100% auto;
      background-repeat: no-repeat;
      padding-bottom: 66%;
      height: 0;
      text-align: right;
      img {
        width:90%;
      }
    }
    #button {
      width: 130px;
      height: 40px;
      border-radius: 5px;
      background: #9f449b;
      margin-top: 65px;
      text-align: center;
      text-transform: uppercase;
      padding-top: 8px;
      color: white;
    }
}


.pic {
  width: 100%;
}
.secondPic {
  width: 100%;
  height: 0;
  background-image: url("../img/secondPic.png");
  background-size: 100% auto;
  padding-bottom: 37%;
  background-repeat: no-repeat;
  background-position: 0 -113px;
  background-attachment: fixed;
}


.icons4 {
  width: 13%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-bottom: 61%;
  height: 0;
  padding-top: 5%;
  text-align: center;
  img {
    width:36%;
  }
}

.secondPicIcon {
  background-image: url("../img/shapeFoto.png");
  margin: 6% auto;
}
.secondPicText {
  text-transform: uppercase;
  color: white;
  margin-top: -51%;
  text-align: center;
}

.anne {
  width: 100%;
    .ourTeam {
      width: 20%;
      padding-bottom: 13%;
      height: 0;
      padding-top: 7%;
      text-align: center;
      margin: 0 auto;
      img {
        width:100%;
      }
    }
  .shape {
    width: 8%;
    padding-bottom: 13%;
    height: 0;
    margin: 0 auto;
    img {
      width: 45%;
    }
  }
  .elipse1 {
    background-size: 100% auto;
    padding-bottom: 95%;
    height: 0;
    text-align: center;

      img {
        border-radius: 50%;
        border: 1px solid black;
        width:80%;
      }
  }
}
.elipse_text {
  text-align: center;
}
.fb {
  width: 30%;
  padding-bottom: 13%;
  height: 0;
  margin: 0 auto;
  img {
    width: 45%;
  }
}

.skills {
  width: 100%;
    .ourSkills {
      width: 20%;
      padding-bottom: 13%;
      height: 0;
      padding-top: 7%;
      text-align: center;
      margin: 0 auto;
      img {
        width:100%;
      }
    }
}


.cyfry{
  text-align: center;
  font-size: 64px;
  margin-top: 30%;
}

.smallShape {
  width: 50%;
  padding-bottom: 25%;
  height: 0;
  margin: 10% auto;
  text-align: center;
  img {
    width: 40%;
  }
}

.quotation {
  text-align: center;
}

.portfolio {
  width: 100%;
}

.images {
  width: 100%;
  padding-bottom: 86%;
  padding-top: 17%;
  height: 0;
  margin: 0 auto;
  text-align: center;
    img {
      width: 80%;
    }
}

.ourPortfolio{
  width: 20%;
  padding-bottom: 13%;
  height: 0;
  padding-top: 7%;
  text-align: center;
  margin: 0 auto;
  img {
    width:100%;
  }
}
.fourButtons {
  width: 100%;
}
#button1 {
  width: 62px;
  height: 31px;
  border-radius: 5px;
  background: #9f449b;
  margin-left: 35%;
  margin-top: 4px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 8px;
  color: white;
}
#button2{
  width: 62px;
  height: 31px;
  border-radius: 5px;
  background: white;
  margin-top: 4px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 8px;
  color: #222222;
}

#button3 {
  width: 62px;
  height: 31px;
  border-radius: 5px;
  background: white;
  margin-top: 4px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 8px;
  color: #222222;
}

#button4 {
  width: 62px;
  height: 31px;
  border-radius: 5px;
  background: white;
  margin-top: 4px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 8px;
  color: #222222;
}

.portfolioButton {
  width:100%;
    #button5 {
      width: 130px;
      height: 40px;
      border-radius: 5px;
      background: #9f449b;
      margin-left: 45%;
      margin-top: 57px;
      text-align: center;
      text-transform: uppercase;
      padding-top: 8px;
      color: white;
    }
}
.subtitles {
  text-align: center;
}



.form {
  width: 100%;
  background: white;
  .getInTouch {
    width: 20%;
    padding-bottom: 13%;
    height: 0;
    padding-top: 7%;
    text-align: center;
    margin: 0 auto;
    img {
      width:100%;
    }
  }
}

.formularz1 {
  float: left;
  width: 100%;
  //border:1px solid red;
}
input[type="text"] {
  width: 75%;
  padding: 21px 5px;
  border: 1px solid #ccc;
  margin-top: 20px;
  margin-left: 100px;
}
textarea {
  padding: 5px 5px;
  border: 1px solid #ccc;
  margin-top: 20px;
  margin-left: 100px;
  height: 200px;
  width: 75%;
}
.form_text {
  margin-left: 10%;
  margin-top: 4%;
}

.social_icons {
  width: 85%;
  padding-bottom: 16%;
  padding-top: 5%;
  height: 0;
  margin: 0 auto;
    img {
      width: 68px;
    }
}

.contactButton {
  width: 100%;
  #button6 {
    width: 130px;
    height: 40px;
    border-radius: 5px;
    background: #9f449b;
    margin-left: 22%;
    margin-top: 13px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 8px;
    color: white;
  }

}

.lastLogo {
    text-align: center;
    .logo2 {
      margin-top:3%;
      display: inline-block;
    }
}

.long {
  width: 200%;
  height: 20px;
}

.scales {
  width: 100%;
  height: 250px;
  border: 1px solid black;
    .skillWeb {
      width: 50%;
      height: 100px;
      border: 1px solid black;

    }
}

