/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main {
  width: 100%;
  height: 0;
  background-image: url("../img/main_foto.png");
  background-size: 100% auto;
  padding-bottom: 60%;
  background-repeat: no-repeat;
}

* {
  box-sizing: border-box;
}

.grid_container {
  width: 90%;
  max-width: 1160px;
  box-sizing: border-box;
  margin: 0 auto;
}

.col-1 {
  width: 8.3333%;
}

.col-2 {
  width: 16.6666%;
}

.col-3 {
  width: 24.9999%;
}

.col-4 {
  width: 33.3332%;
}

.col-5 {
  width: 41.6665%;
}

.col-6 {
  width: 49.9998%;
}

.col-7 {
  width: 58.3331%;
}

.col-8 {
  width: 66.6664%;
}

.col-9 {
  width: 74.9997%;
}

.col-10 {
  width: 83.333%;
}

.col-11 {
  width: 91.6663%;
}

.col-12 {
  width: 99.9996%;
}

.row:before,
.row:after {
  display: table;
  clear: both;
  content: '';
}

[class*='col-'] {
  float: left;
  min-height: 1px;
}

.centerText {
  text-align: center;
}
.centerText .logo {
  margin-top: 3%;
  display: inline-block;
}
.centerText .main_text h1 {
  color: white;
  font-size: 48px;
  text-align: center;
}
.centerText .main_text p {
  color: white;
  font-size: 24px;
  text-align: center;
}

.icons {
  width: 75%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-bottom: 59%;
  height: 0;
  padding-top: 28%;
  text-align: center;
}
.icons img {
  width: 36%;
}

.icons_1 {
  background-image: url("../img/icons/icon_shape.png");
  margin: 137% auto 0;
}

.icons_2 {
  background-image: url("../img/icons/icon_shape.png");
  margin: 137% auto 0;
}

.icons_3 {
  width: 75%;
  background-size: 100% auto;
  background-image: url("../img/icons/icon_shape.png");
  margin: 137% auto 0;
}

.icons_4 {
  width: 75%;
  background-image: url("../img/icons/icon_shape.png");
  margin: 137% auto 0;
}

.icons_5 {
  width: 75%;
  background-image: url("../img/icons/icon_shape.png");
  margin: 69% auto;
}

.icons_6 {
  width: 75%;
  background-image: url("../img/icons/icon_shape2.png");
  margin: 69% auto;
}

.menu {
  background-color: white;
  width: 100%;
  height: 100px;
}
.menu .nav_left {
  margin-left: 10%;
  margin-top: 6%;
}
.menu ul {
  float: right;
  padding-right: 8%;
  margin-top: -2%;
}
.menu ul li {
  display: inline-block;
  text-transform: uppercase;
  margin: 0 auto;
}
.menu ul li a {
  float: right;
  color: #959595;
  text-transform: uppercase;
  text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
}

.grey {
  width: 100%;
  background-color: #eeeeee;
}
.grey .grey_text {
  text-align: center;
  margin-bottom: 45%;
}

.icons2 {
  width: 75%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-bottom: 59%;
  height: 0;
  padding-top: 30%;
  text-align: center;
  margin: 0 auto;
  margin-top: 45%;
}
.icons2 img {
  width: 36%;
}

.icons_1a {
  background-image: url("../img/icons2/shape2.png");
}

.icons_2a {
  background-image: url("../img/icons2/shape1.png");
}

.icons_3a {
  background-image: url("../img/icons2/shape1.png");
}

.icons_4a {
  background-image: url("../img/icons2/shape1.png");
}

.tele {
  width: 100%;
  margin-bottom: 10%;
}
.tele .aboutUs {
  width: 20%;
  padding-bottom: 13%;
  height: 0;
  padding-top: 7%;
  text-align: center;
  margin: 0 auto;
}
.tele .aboutUs img {
  width: 120%;
}
.tele .teleText {
  margin: 0 auto;
  margin-left: 10%;
}
.tele .teleFoto {
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-bottom: 66%;
  height: 0;
  text-align: right;
}
.tele .teleFoto img {
  width: 90%;
}
.tele #button {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  background: #9f449b;
  margin-top: 65px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 8px;
  color: white;
}

.pic {
  width: 100%;
}

.secondPic {
  width: 100%;
  height: 0;
  background-image: url("../img/secondPic.png");
  background-size: 100% auto;
  padding-bottom: 37%;
  background-repeat: no-repeat;
  background-position: 0 -113px;
  background-attachment: fixed;
}

.anne {
  width: 100%;
}
.anne .ourTeam {
  width: 20%;
  padding-bottom: 13%;
  height: 0;
  padding-top: 7%;
  text-align: center;
  margin: 0 auto;
}
.anne .ourTeam img {
  width: 100%;
}
.anne .shape {
  width: 8%;
  padding-bottom: 13%;
  height: 0;
  margin: 0 auto;
}
.anne .shape img {
  width: 45%;
}
.anne .elipse1 {
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-bottom: 96%;
  height: 0;
  padding-top: 19%;
  text-align: center;
  margin: 0 auto;
}

.elipse_text {
  text-align: center;
}

.fb {
  width: 30%;
  padding-bottom: 13%;
  height: 0;
  margin: 0 auto;
}
.fb img {
  width: 45%;
}

.skills {
  width: 100%;
}
.skills .ourSkills {
  width: 20%;
  padding-bottom: 13%;
  height: 0;
  padding-top: 7%;
  text-align: center;
  margin: 0 auto;
}
.skills .ourSkills img {
  width: 100%;
}

.cyfry {
  text-align: center;
  font-size: 64px;
  margin-top: 30%;
}

.smallShape {
  width: 50%;
  padding-bottom: 25%;
  height: 0;
  margin: 10% auto;
  text-align: center;
}
.smallShape img {
  width: 40%;
}

.quotation {
  text-align: center;
}

.portfolio {
  width: 100%;
}

.images {
  width: 100%;
  padding-bottom: 86%;
  padding-top: 17%;
  height: 0;
  margin: 0 auto;
  text-align: center;
}
.images img {
  width: 80%;
}

.ourPortfolio {
  width: 20%;
  padding-bottom: 13%;
  height: 0;
  padding-top: 7%;
  text-align: center;
  margin: 0 auto;
}
.ourPortfolio img {
  width: 100%;
}

.fourButtons {
  width: 100%;
}

#button1 {
  width: 62px;
  height: 31px;
  border-radius: 5px;
  background: #9f449b;
  margin-left: 35%;
  margin-top: 4px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 8px;
  color: white;
}

#button2 {
  width: 62px;
  height: 31px;
  border-radius: 5px;
  background: white;
  margin-top: 4px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 8px;
  color: #222222;
}

#button3 {
  width: 62px;
  height: 31px;
  border-radius: 5px;
  background: white;
  margin-top: 4px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 8px;
  color: #222222;
}

#button4 {
  width: 62px;
  height: 31px;
  border-radius: 5px;
  background: white;
  margin-top: 4px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 8px;
  color: #222222;
}

.portfolioButton {
  width: 100%;
}
.portfolioButton #button5 {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  background: #9f449b;
  margin-left: 45%;
  margin-top: 57px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 8px;
  color: white;
}

.subtitles {
  text-align: center;
}

.form {
  width: 100%;
  background: white;
}
.form .getInTouch {
  width: 20%;
  padding-bottom: 13%;
  height: 0;
  padding-top: 7%;
  text-align: center;
  margin: 0 auto;
}
.form .getInTouch img {
  width: 100%;
}

.formularz1 {
  float: left;
  width: 100%;
}

input[type="text"] {
  width: 75%;
  padding: 21px 5px;
  border: 1px solid #ccc;
  margin-top: 20px;
  margin-left: 100px;
}

textarea {
  padding: 5px 5px;
  border: 1px solid #ccc;
  margin-top: 20px;
  margin-left: 100px;
  height: 200px;
  width: 75%;
}

.form_text {
  margin-left: 10%;
  margin-top: 4%;
}

.social_icons {
  width: 85%;
  padding-bottom: 16%;
  padding-top: 5%;
  height: 0;
  margin: 0 auto;
}
.social_icons img {
  width: 68px;
}

.contactButton {
  width: 100%;
}
.contactButton #button6 {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  background: #9f449b;
  margin-left: 22%;
  margin-top: 13px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 8px;
  color: white;
}

.lastLogo {
  text-align: center;
}
.lastLogo .logo2 {
  margin-top: 3%;
  display: inline-block;
}

.long {
  width: 200%;
  height: 20px;
}

.scales {
  width: 100%;
  height: 250px;
  border: 1px solid black;
}
.scales .skillWeb {
  width: 50%;
  height: 100px;
  border: 1px solid black;
}

.pasek1 {
  width: 90%;
  height: 40px;
  background-color: #9f449b;
}

/*# sourceMappingURL=style.css.map */
